# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\homework2023\手写spring\Spring\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
